a
{
	text-decoration: none;
}
a:visited
{
	color: black;
}
a:link
{
	color:black;
}
img
{
	width: 100%;
}
body
{
	background-color: #2B3840;
	font-family: 'Roboto Slab';
}

header
{
	background-color: #41B9CA;
	min-height: 150px;
	border-bottom: 8px solid #34929E;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

header figure 
{
	margin:0 5% 0 15%;
	padding:25px 0;
	width: 180px;
	position: absolute;
	top: 20%;
}
header figure img 
{
	border-radius: 50%;
	border:6px solid #34929E;
	width: 100%;
}
header h1
{
	color: white;
	position: absolute;
	top: 30%;
	left: 30%;
	text-shadow: 2px 2px #34929E;
}

section#main
{
	margin: 300px auto 0 auto;
	min-height: 1000px;
	/*background-color: #555;*/
	position: relative;
}

section#main section
{
	margin: 50px auto;
	width: 70%;
}
section#personalinfo figure img
{
	width: 50px;
	padding: 0;
	margin: 0;
}
section#personalinfo figure , section#personalinfo h1
{
	vertical-align: middle;
	display: inline-block;
}

section#personalinfo figure
{
	padding: 0;
	margin: 0 15px 0 0;
}
section h1
{
	text-shadow: 2px 2px #838182;
}

p, i
{
	font-family: Arial;
	font-size: 26px;
	vertical-align: top;
	display: inline-block;
}
p
{
	margin-right: 20px;
}

section#knowledge figure img
{
	width: 50px;
	padding: 0;
	margin: 0;
}
section#knowledge figure , section#knowledge h1
{
	vertical-align: middle;
	display: inline-block;
}

section#knowledge figure
{
	padding: 0;
	margin: 0 15px 0 0;
}
section#portfolio figure img
{
	width: 50px;
	padding: 0;
	margin: 0;
}
section#portfolio figure , section#portfolio h1
{
	vertical-align: middle;
	display: inline-block;
}

section#portfolio figure
{
	padding: 0;
	margin: 0 15px 0 0;
}
footer
{
	background-color: #D4D4D4;
	min-height: 150px;
	width: 100%;
}
footer figure
{
	width: 250px;
	margin:0;
	padding: 0;
}
section p
{
	margin-left: 20px;
}
h3
{
	margin:0;
	padding: 0;
}
footer *
{
	margin: 0;
	padding: 0;
}
section#certifications
{
	position: relative;
}
section#certifications figure img
{
	width: 50px;
	padding: 0;
	margin: 0;
}
section#certifications figure , section#certifications h1
{
	vertical-align: middle;
	display: inline-block;
	position: relative;
}

section#certifications figure
{
	padding: 0;
	margin: 0 15px 0 0;
}
iframe
{
	margin: 20px 50px;
}

footer figure#humans 
{
	width: 150px;
}
footer section *
{
	display: inline-block;
	vertical-align: middle;
	margin: 10px auto;
}
footer section
{
	margin: 0 auto;
	padding: 0;
	width: 60%;
}